html, body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    scroll-behavior: smooth;
    background-image: url("https://images.unsplash.com/photo-1519219788971-8d9797e0928e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=728&q=80");
  }
  
  /* General Styles */
* {
  padding: 0;
  margin: 0;
}

.ml-auto i{
  size: 4rem;
}

.contact i{
  font-size: 14rem;
}

.nav-link{
  font-size: 20px;
}

h1{
  color:#0c8e9c;
}

.btn {
  font-size: 14px;
  color: whitesmoke;
  border: none;
  background-color: #0c8e9c;
  margin: 2px;
}

.btn:hover {
  color: #0c8e9c;
  background-color: whitesmoke;
}

/* Nav */

.navbar-brand {
  color:#0c8e9c !important;
  font-weight: bolder;
}

.navbar-nav i{
  font-size: 1em;
}

/* Header*/ 
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-custom {
  background-color: #f1f1f1ec;
}

.ml-auto i{
  color: #0c8e9c;
}

.ml-auto i:hover{
  color: #0c8e9c98;
}

/* About */
#aboutme {
  text-align: center;
  padding: 5em 2em;
  margin: 0 -15px;
  min-height: 100vh;
  height: 100%;
}

#aboutme h4{
  padding: 1em auto;
  color: #0c8e9c;
}

#aboutme i{
  color: #0c8e9c;
}

#aboutme i:hover{
  color: #0c8e9c98;
}


.col-centered{
  float: none;
  margin: 0 auto;
}

.icons img {
  width: 40px;
  margin: 0px 2px 25px 2px;
}


/* Skills*/
#skills{
  padding: 5em 0 3em 0;
  min-height: 100vh;
  height: 100%;
}

#skills img {
  border: none;
  margin: 0 auto;
}

/* Portfolio*/
#portafolio {
  background-color: #cecececd;
  text-align: center;
  color: black; 
  margin: 0 -15px;
  padding: 5em 0 3em 0;
  min-height: 100vh;
  height: 100%;
}

.img {
  width: 200px;
  margin: 0 auto;
  border-radius: 8px;
}

.card {
  padding-top: .8em;
  margin: 1em auto;
  width: 90%;
  min-width: 270px;
  text-align: center;
  background-color:#eeeeee; 
  border-radius: 8px;
}

.card-text{
  font-size: .9rem;
}

.card-title{
  color: #0c8e9c;
}

.column {
  display: none; 
  margin: 0 auto; 
  float: none; 
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.show {
  display: block;
}

/* Footer */
footer {
  background-color:#707070cd;
  color:#eeeeee;
  text-align: center; 
  padding: 1em;
  
}