html, body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url("https://images.unsplash.com/photo-1548685913-fe6678babe8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=723&q=80");
}

/* General Styles */
* {
padding: 0;
margin: 0;
}

.ml-auto i{
size: 4rem;
}

.contact i{
font-size: 14rem;
}

.nav-link{
font-size: 20px;
}

h1{
color:#0c8e9c;
}

.btn {
font-size: 14px;
color: whitesmoke;
border: none;
background-color: #0c8e9c;
margin: 2px;
}

/* .btn:hover {
color: #0c8e9c;
background-color: whitesmoke;
} */

/* Nav */

.navbar-brand {
color:#0c8e9c !important;
font-weight: bolder;
}



.navbar-nav i{
font-size: 2em;
}

/* Header*/ 
.fixed-top {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

.bg-custom {
background-color: #f1f1f1ec;
}

.ml-auto i{
color: #0c8e9c;
}

.ml-auto i:hover{
color: #0c8e9c98;
}

/* About */
#aboutme {
text-align: center;
height: 100vh;
margin-left: 10rem ;
}


#aboutme h5{
  font-size: 2rem;
}

#aboutme h4{
margin-bottom: 1rem ;
padding: 1em auto;
color: #0c8e9c;
font-size: 2rem;
}

#aboutme p{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  width: 120%;

}


#aboutme i{
color: #0c8e9c;
}

#aboutme i:hover{
color: #0c8e9c98;
}

.icon-am-desk{
  width:45px; 
  vertical-align: bottom;
}


.contact-mobile{
  display: none;
}

.col-centered{
float: none;
margin: 0 auto;
}

.icons img {
width: 40px;
margin: 0px 2px 25px 2px;
}

p {
margin-top: 0;
margin-bottom: 1rem;
font-size: 1rem;
}

.text-left {
text-align: left!important;
}

.img-merci {
  width: 74%;
  height: auto;
  margin-top: 6em;
  margin-bottom: 2em;
  max-width: 300px;
  min-width: 120px;
  border-radius: 16px;
}


/* Skills*/

#skills {
text-align: center;
padding: 4.3em 2em;
margin: 0 -15px;
min-height: 100vh;
height: auto;
background-color: #cecececd;;
} 

#skills h4{
  padding: 1em auto;
  color: #0c8e9c;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  }

#skills h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > div {
  width: 50%;
  padding: 10px;
}

.flexbox-container > div:first-child {
  margin-right: 20px;
}


#skills h5{
  text-align: left;
  padding: 1em auto;
  margin-left: 4.5rem;
  color: #363838;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  }



.icons img{
  width: 70px;
  margin: 0px 0px 25px 0px;

}

.icons{
  margin-bottom: 2rem;
}
.icon-skills{
  height: 34vh;
  max-width: 100%;
  vertical-align: middle;
}

.mobile-skills{
display: none;
}



/* Footer */
#footer {
  background-color: #cecececd;
  text-align: center;
  color: black;
  margin: 0 -15px;
  padding: 5em 0 3em 0;

}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn-contact{
 color: #0c8e9c;
 text-decoration: none;
}

.btn-contact:hover{
  color: #0c8e9c;
  background-color: whitesmoke;
}

.footer-p{
  font-size: 1.5rem;
  font-family: 'Fira Sans', sans-serif ;
}


/* portfolio */


@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

 body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 1.5;
   text-rendering: optimizeLegibility;
   font-variant-ligatures: none;
   box-sizing: border-box;
   font-family: 'Fira Sans', sans-serif;
   background-color: transparent;
}
body::before,
body::after {
  content: "";
  display: table;
  clear: both;
}
body * {
  box-sizing: inherit;
}
p, h1 {
  margin: 0; padding: 0;
}

 body, .text-light-black {
   color: rgba(0,0,0,0.6);
}
.text-black {
  color: rgba(0,0,0,0.9);
}
.text-muted {
  color: rgba(0, 0, 0, 0.3);
}

h4{
  padding: 1em auto;
  color: #0c8e9c;
  font-size: 2rem;
  margin-bottom: 5rem;
  }


.text-uppercase {
  text-transform: uppercase;
}
.ff-serif {
  font-family: 'Fira Sans', sans-serif;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-medium {
  font-weight: 500;
}

 .lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}


.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute
}



.bg-white {
  background-color: #fff;
}






.small {
  font-size: 0.75rem;
}
.card-heading {
  font-size: 2.25rem;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #2196fe;
}




.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}






/**Margin and padding utilities*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}


.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}




.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}


.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}

.icon-projects{
  color:#0c8e9c;
  
}



@media only screen and (max-width:768px){
  #aboutme {
    text-align: center;
    min-height: 100vh;
    height: 100%;
    margin-left:0;
    }

    #aboutme h4 {
      padding: 1em auto;
      color: #0c8e9c;
      font-size: 1.8rem;
    }

    #aboutme h5{
      font-size: 1.5rem;
    }

    #aboutme p{
      font-size: 1rem;
      line-height: 1;
      width: 90%
    }

    .icon-am-mb{
      width:40px; 
      height:40px; 
      vertical-align: bottom;
    }

    .contact-desktop{
      display: none;
    }

    .contact-mobile{
      display: block;
      margin-left: 4rem;
    }

    .img-merci {
      width: 93%;
      height: auto;
      margin-top: 2.5em;
      margin-bottom: 1em;
      max-width: 257px;
      min-width: 120px;
      border-radius: 8px;
      margin-left:1em ;
    }

  
    #portfolio {
      background-color: transparent;
      text-align: center;
      color: black;
      margin: 0 -15px;
      padding: 2.5em 0 3em 0;
      min-height: 100vh;
      height: 100%;
    }

    #portfolio h4{

      padding: 1em auto;
      color: #0c8e9c;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    
    .desktop-skills{
      display: none;
    }

    .mobile-skills{
      display: block;
    }

    #skills {
      background-color: #cecececd;
      text-align: center;
      color: black;
      padding: 2.5em 0 0 0;
      min-height: 100vh;
      height: auto;
    }

    #skills h3 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }

    #skills h4 {
    padding: 1em auto;
    color: #0c8e9c;
    font-size: 2rem;
   }
  
  .skills-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
  }

  .soft-container {
  width: 87%;
  margin: 0 auto;
  }

  .skill-box {
  flex-direction: column;
  width: 10%;
  }

  .skill-box span {
  color: #0f0f0f;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
  }

  .skill-box, .skillsIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .skill-icons{
    width: 64px;
  }

  .skill-icon{
    width: 67px;
  }

  .skillsIcons {
  font-size: 1.5rem;
  height: 3.5rem;
  /* width: 3.5rem; */
  color: #02265cbd;
  margin: 1rem 1rem 0;
  text-align: center;
  border-radius: 100%;
  background-color: transparent;
  }

  .soft {
  color: #0c76bd86;
  }

  .desktop-projects{
    display: none;
  }

  #footer {
  background-color: #cecececd;
  text-align: center;
  color: black;
  margin: 0 -15px;
  padding-top: 0;
  padding-bottom: 1rem;
  }

  .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }

  .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }

  .btn-contact{
  color: #0c8e9c;
  text-decoration: none;
  }

  .btn-contact:hover{
    color: #0c8e9c;
    background-color: whitesmoke;
  }

  .footer-p{
      font-size: 1.5rem;
      font-family: 'Fira Sans', sans-serif;
      padding: 1rem;
      margin: 0;
  }

}